<!DOCTYPE html>
<html dir="rtl" lang="fa">
    <head>
        <title>Chat</title>
        <link href="/public/styles/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/public/styles/css/bootstrap.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="maincontainer">
            <div class="container d-flex flex-column h-100 justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center mb-5">
                    <img src="/public/styles/assets/<%=type%>.png" width="50%" height="auto"/>
                </div>
