<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Message</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script type="text/javascript" src="../../public/js/decodetoken.js"></script>
  </head>
  <body>
    <h1>Write your message:</h1>

    <label for="your message">Your message:</label><br />
    <textarea id="message" rows="4" cols="50"></textarea><br /><br />
    <label for="userId">User ID:</label><br />
    <input type="text" id="userId" /><br /><br />

    <button onclick="send()" id="submitBtn">Submit</button><br/>

    <div id="messages">
      <div id="history">
        <% messages.forEach(function(message) { %>
          <strong><%= message.sender.profileName %>: </strong><%= message.messageText %><br>
      <% }); %>
      </div>
    </div>
    

    <style>
      button {
        width: 60px;
        height: 35px;
        border: none;
        outline: none;
        background: #53c080;
        color: #fff;
        font-size: 11px;
        border-radius: 40px;
        text-align: center;
        box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }
      #messages {
        background-color: #9be4ee;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-left: 15px;
        border-radius: 30px;
        margin-top: 5px;
      }
      #history{
        margin-left: 3%;
        margin-top: 1%;
        margin-bottom: 1%;
        overflow: auto;

      }
    </style>
    <script>

      function send() {
        const message = document.getElementById("message").value;
        const sendToUser = window.location.href.split("/")[4];
        const todo = {
          messageText: message,
        };
        console.log(document.cookie);

        fetch(`http://localhost:3000/api/message/${sendToUser}`, {
          method: "POST",
          body: JSON.stringify(todo),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
            authorization: "bearer " + document.cookie,
          },
        })
          .then((response) => response.json())
          .then((json) => {
            console.log(json);
          });
      }
    </script>
    <script>
      const element = document.getElementById('history');
      console.log(element.scrollHeight)
      element.scrollTop = element.scrollHeight;

      const token = document.cookie;
      const user = decodeToken(token);
      const senderId = user.id;
      const fromUserId = window.location.href.split("/")[4];
      var socket = io.connect("", { query: { senderId, fromUserId } });

      var btn = document.getElementById("submitBtn");
      var message = document.getElementById("message");
      var messages = document.getElementById("history");

      socket.on("chat message", (msg) => {
        console.log(window.location.href.split("/")[4]);
        console.log(socket);
        var item = document.createElement("p");
        console.log("fromUserId", fromUserId);
        console.log("senderId", senderId);
        if (fromUserId === msg.senderId) {
          item.textContent = msg.text;
          messages.appendChild(item);
          console.log(msg);
          socket.emit("seen message", msg.id);
        }
      });

      btn.addEventListener("click", function (e) {
        const userId = document.getElementById("userId").value;
        e.preventDefault();
        if (message.value) {
          var item = document.createElement("p");
          item.textContent = message.value;
          messages.appendChild(item);
        }
      });
    </script>
  </body>
</html>
